<%= render partial: "projects/header", locals: {project: @project, subtitle: "New Ticket for", without: %w{new_ticket keyboard_shortcuts}} %>

<div id="support_form">
  <ul class="nav nav-pills">
    <li class="active">
      <a href="#feedback" data-toggle="tab">
        <i class="fa fa-comment"></i>
        <h4>Feedback</h4>
        <p>for most things</p>
      </a>
    </li>
    <li>
      <a href="#bug_report" data-toggle="tab">
        <i class="fa fa-bug"></i>
        <h4>Bug Report</h4>
        <p>for <u data-toggle="tooltip" data-placement="bottom" data-original-title="A recent release broke existing functionality">Regressions</u> or <u data-toggle="tooltip" data-placement="bottom" data-original-title="The customer is seeing an error message">Errors</u></p>
      </a>
    </li>
    <li>
      <a href="#itsm" data-toggle="tab">
        <i class="fa fa-fire-extinguisher"></i>
        <h4>ITSM</h4>
        <p>for Tier 2 support</p>
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="feedback">
      <form id="new_feedback_form" class="container-fluid">
        <div class="row-fluid">
          <label class="control-label span2" for="new_feedback_customer">Customer</label>
          <div class="span5">
            <input type="text" id="new_feedback_customer" name="customer" placeholder="GM 00349061 "/>
          </div>
          <div class="span5 help overlap-below">
            If the feedback is from <em>you</em>, leave this field blank. Otherwise, enter something that <u>uniquely</u> identifies a person like an <b>email address</b> or <b>Goldmine case</b>.
          </div>
        </div>

        <div class="row-fluid">
          <label class="control-label span2" for="new_feedback_text">Text</label>
          <div class="span5">
            <textarea id="new_feedback_text" name="text"></textarea>
          </div>
        </div>

        <div class="row-fluid">
          <label class="control-label optional span2" for="new_feedback_tags">Tags</label>
          <div class="span5">
            <input type="text" id="new_feedback_tags" class="feedback-new-tag" />
          </div>
          <div class="span5 help">
            You can enter multiple tags by separating them with commas.
          </div>
        </div>
      </form>

      <div class="buttons">
        <button type="button" id="clear_feedback" class="btn btn-default" data-dismiss="modal">Clear</button>
        <button type="button" id="create_feedback" class="btn btn-primary">Submit</button>
      </div>
    </div>



    <div class="tab-pane slim" id="bug_report">
      <form id="new_ticket_view" data-mode="type"></form>
    </div>



    <div class="tab-pane slim" id="itsm">
      <p>
        At this time, you can't file an ITSM with Houston
        <a href="http://portal/SupportCall.aspx?SupportCallMode=Add">Click here to visit the portal</a>
      </p>
      <p>Start your summary with <b>[<%= @project.slug %>]</b></p>
    </div>
  </div>
</div>


<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    var project = {
      slug: <%= raw @project.slug.to_json %>,
      ticketTrackerName: <%= raw @project.ticket_tracker_name.to_json %><%# so that we can log in %>
    };
    new Houston.SupportForm.View({
      tags: <%=raw @tags.to_json %>,
      project: project
    }).render();
    new Houston.SupportForm.NewTicketView({
      tickets: <%= raw @tickets.to_json %>,
      project: project
    }).render();
  });
</script>
<% end %>
